<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Index page</title>
    </head>
    <body>
        <h1>Landing page</h1>
        <a href="/admin">Admin page</a>

        <nav>
            <div class="logo-container">
                <a href="" class="logo">
                    Project JS
                </a>
            </div>

            <ul class="list-items">
                <li class="items"><a class="link-items" href="">Home</a></li>
                <li class="items"><a class="link-items" href="">About us</a></li>
                <li class="items"><a class="link-items" href="">Products</a></li>
                <li class="items"><a class="link-items" href="/login">Log in</a></li>
                <li class="items"><a class="link-items" href="">Sign up</a></li>
            </ul>
        </nav>
    </body>
</html>