<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Log in</title>
    </head>
    <body>
        <h1>Log in to Project JS</h1>

        <div class="form-container">
            <form class="form" action="" method="post">
                <div class="row-user-form">
                    <label for="username">Username or email</label>
                    <input id="username" name="username" type="text">
                </div>

                <div class="row-user-form">
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password">
                </div>

                <div class="row-user-form">
                    <a href="">I forgot my password</a>
                </div>

                <div class="row-user-form">
                    <button>Sign in</button>
                </div>

                <div class="row-user-form">
                    <p>Or log in using:</p>
                    <div class="login-logos">
                        <div class="logo"><a href="">Google</a></div>
                        <div class="logo"><a href="">Github</a></div>
                        <div class="logo"><a href="">Facebook</a></div>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>